# 项目排除路径
/lesson1/build/
/lesson2/build/
/lesson3/build/
/lesson4/build/
/lesson5/build/
/lesson6/build/
/lesson7/build/
/lesson8/build/
/lesson9/build/
/lesson10/build/
/lesson11/build/
/lesson12/build/
/lesson202/build/